<configuration>
    <connectionStrings>
        <add name="RISK"
             providerName="Oracle4Net"
             connectionString="User Id=risk;Password=ruffus;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.56.101)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = XEPDB1)))"
        />
    </connectionStrings>
</configuration>